﻿@model MVC.Models.mvcSymptomsModel
@{
    ViewBag.Title = "AddOrEdit";
}

<div class="form-body">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.Symptoms_ID)

       
        <div class="form-group">
            @Html.LabelFor(model => model.Symptoms_Description)
            @Html.EditorFor(model => model.Symptoms_Description)
            @Html.ValidationMessageFor(model => model.Symptoms_Description)
         </div>
      

        <div class="form-group">
            <input type="submit" value="Submit" class="btn button" />
            <input type="reset" value="Reset" class="btn button" />
        </div>
    }

</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}