﻿@model MVC.Models.mvcDiseaseModel
@{
    ViewBag.Title = "AddOrEdit";
}

<div class="form-body">
    @using (Html.BeginForm())
    {
        //Html.HiddenFor(model => model.Disease_ID)
      
        <div class="form-group">
            @Html.LabelFor(model => model.Disease_Name)
            @Html.EditorFor(model => model.Disease_Name)
            @Html.ValidationMessageFor(model => model.Disease_Name)

        </div>

        <div class="form-group">
            <input type="submit" value="Submit" class="btn button" />
            <input type="reset" value="Reset" class="btn button" />
        </div>
    }

</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}