﻿@model IEnumerable<MVC.Models.mvcDiseaseModel>

@{
    ViewBag.Title = "Index";
}

<!--<h2>Disease</h2>-->
<br />

<p>
    <!--Html.ActionLink("Create New", "Create")-->
    <a href="@Url.Action("AddOrEdit","Disease")" class="btn btn-default"><i class="fa fa-plus"></i> Create New</a>
</p>
<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Disease_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disease_Name)
            </th>
            <th>Actions</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Disease_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disease_Name)
            </td>
            <td>
                <a href="@Url.Action("AddOrEdit", "Disease", new { id = item.Disease_ID})" class="btn btn-default"><i class="fa fa-pencil"></i>  Edit</a>
                <a onclick="Delete(@item.Disease_ID)" class="btn btn-default"><i class="fa fa-trash"></i>  Delete</a>


            </td>
        </tr>
    }

</table>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
        function Delete(id) {
            alertify.confirm('Web Api CRUD Operations','Are You Sure to Delete this Record ?',function(){
                window.location.href  = '@Url.Action("Delete","Disease")/'+id;
            },null );
        }
        
    </script>
}