﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Disease ", "Index", "Disease", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Prevention", "Index", "Disease_Prevention", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Symptoms", "Index", "Disease_Symptoms", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Treatment", "Index", "Disease_Treatment", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("FAQ", "Index", "FAQ", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Log Out", "Index", "Dashboard.aspx", new { area = "" }, new { @class = "navbar-brand" })
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Malaria Application by Emannuel - Anrich - Hema </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/alertify.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
