﻿@model MVC.Models.mvcPreventionModel
@{
    ViewBag.Title = "AddOrEdit";
}

<div class="form-body">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.Prevention_ID)
   
        <div class="form-group">
            @Html.LabelFor(model => model.Prevention_Description)
            @Html.EditorFor(model => model.Prevention_Description)
            @Html.ValidationMessageFor(model => model.Prevention_Description)

        </div>

        <div class="form-group">
            <input type="submit" value="Submit" class="btn button" />
            <input type="reset" value="Reset" class="btn button" />
        </div>
    }

</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}